In [79]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [80]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')

In [81]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [82]:
df.groupby('Area').count().reset_index(drop=True)

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,1313,1313,1313,1313,1313,1313,1261,1268,1274,1279,1298
1,1424,1424,1424,1424,1424,1424,1378,1378,1388,1407,1396
2,1285,1285,1285,1285,1285,1285,1250,1260,1257,1253,1252
3,1378,1378,1378,1378,1378,1378,1361,1369,1365,1368,1361
4,1409,1409,1409,1409,1409,1409,1382,1372,1392,1383,1373
5,1260,1260,1260,1260,1260,1260,1231,1229,1200,1193,1192
6,1460,1460,1460,1460,1460,1460,1450,1443,1443,1441,1432
7,1344,1344,1344,1344,1344,1344,1300,1296,1314,1262,1308
8,1343,1343,1343,1343,1343,1343,1284,1303,1265,1281,1305
9,45,45,45,45,45,45,45,45,45,45,45
10,1413,1413,1413,1413,1413,1413,1382,1377,1377,1395,1377
11,1467,1467,1467,1467,1467,1467,1444,1447,1455,1454,1455
12,1095,1095,1095,1095,1095,1095,1052,1058,1054,1061,1040
13,1488,1488,1488,1488,1488,1488,1461,1473,1470,1458,1468
14,1284,1284,1284,1284,1284,1284,1265,1240,1255,1251,1231
15,1447,1447,1447,1447,1447,1447,1424,1430,1410,1428,1425
16,39,39,39,39,39,39,39,39,39,39,39
17,1245,1245,1245,1245,1245,1245,1200,1202,1198,1206,1192
18,1168,1168,1168,1168,1168,1168,1121,1115,1111,1116,1118
19,1354,1354,1354,1354,1354,1354,1337,1333,1330,1333,1337
20,1410,1410,1410,1410,1410,1410,1345,1349,1373,1383,1385
21,1128,1128,1128,1128,1128,1128,1044,1040,1054,1076,1091
22,1560,1560,1560,1560,1560,1560,1544,1542,1540,1548,1548
23,1150,1150,1150,1150,1150,1150,1130,1097,1116,1110,1094
24,1206,1206,1206,1206,1206,1206,1135,1134,1124,1135,1133
25,1439,1439,1439,1439,1439,1439,1416,1429,1431,1425,1424
26,1447,1447,1447,1447,1447,1447,1416,1400,1394,1411,1410
27,1293,1293,1293,1293,1293,1293,1252,1256,1250,1243,1260
28,1195,1195,1195,1195,1195,1195,1106,1152,1119,1108,1170
29,1378,1378,1378,1378,1378,1378,1355,1352,1344,1340,1342
30,1393,1393,1393,1393,1393,1393,1354,1381,1378,1369,1368
31,1427,1427,1427,1427,1427,1427,1396,1394,1401,1406,1400
32,1283,1283,1283,1283,1283,1283,1274,1270,1266,1269,1256
33,1403,1403,1403,1403,1403,1403,1357,1367,1355,1365,1368
34,1474,1474,1474,1474,1474,1474,1470,1458,1460,1457,1456
35,1426,1426,1426,1426,1426,1426,1400,1378,1400,1397,1403
36,1177,1177,1177,1177,1177,1177,1108,1125,1140,1122,1109
37,1462,1462,1462,1462,1462,1462,1448,1449,1452,1452,1448
38,68,68,68,68,68,68,68,68,68,68,68
39,1242,1242,1242,1242,1242,1242,1177,1181,1188,1191,1197
40,1399,1399,1399,1399,1399,1399,1394,1395,1395,1395,1396
41,1316,1316,1316,1316,1316,1316,1277,1260,1271,1279,1268
42,53,53,53,53,53,53,53,53,53,53,53
43,1294,1294,1294,1294,1294,1294,1219,1226,1243,1234,1266
44,1338,1338,1338,1338,1338,1338,1304,1318,1314,1314,1320
45,1458,1458,1458,1458,1458,1458,1446,1446,1446,1435,1445
46,1419,1419,1419,1419,1419,1419,1401,1405,1403,1409,1408
47,1451,1451,1451,1451,1451,1451,1424,1420,1430,1425,1421
48,1393,1393,1393,1393,1393,1393,1374,1373,1358,1365,1356

In [83]:
x = df.groupby('Area')['Y2017'].sum()
x.sort_values(ascending = True)

Area
Ethiopia PDR                         0.00
Sudan (former)                       0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
CÃ´te d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [84]:
print('Mean:',df['Y2017'].mean())
print('std:',df['Y2017'].std())

Mean: 140.9177648602722
std: 1671.8623590572788

In [85]:
y = df.groupby('Area')['Y2017'].sum()
y.sort_values(ascending = True)

Area
Ethiopia PDR                         0.00
Sudan (former)                       0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
CÃ´te d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [86]:

 print(df['Y2014'].isnull().sum())

1589

In [87]:
df.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [88]:
#df['Madagascar']['Y2015']

In [89]:
df.groupby('Item')['Y2015'].sum()

Item
Alcohol, Non-Food        2180.00
Alcoholic Beverages     98783.72
Animal Products         11811.73
Animal fats            200675.72
Apples and products     10559.15
                         ...
Vegetables, Other      158104.08
Vegetal Products       107064.17
Wheat and products     234710.51
Wine                     4251.81
Yams                   203151.78
Name: Y2015, Length: 119, dtype: float64

In [90]:
df.groupby('Item')['Y2018'].sum()

Item
Alcohol, Non-Food        2293.00
Alcoholic Beverages     97847.27
Animal Products         11578.61
Animal fats            269648.27
Apples and products      9640.51
                         ...
Vegetables, Other      163987.21
Vegetal Products       107775.39
Wheat and products     242645.19
Wine                     4039.32
Yams                   221272.09
Name: Y2018, Length: 119, dtype: float64

In [91]:
df.groupby('Element')['Y2014'].sum()
df.groupby('Element')['Y2015'].sum()
df.groupby('Element')['Y2016'].sum()
df.groupby('Element')['Y2017'].sum()
df.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64